$body-color: #2C3E50;
$headings-font-weight: 900;
$red: #E84C3C;
$success: #3F740A;
@import "node_modules/bootstrap/scss/bootstrap";

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nav-image-logo {
  height: 45px;
}

.navbar-shadow {
  background: #FFFFFF;
  box-shadow: 0 3px 6px #00000029;
}

.footer {
  width: 100%;
  height: 99px;
  line-height: 60px;
  background-color: #2981BA;
  padding: 15px;
  z-index: 999;
}

.footer-copyright-text {
  font-size: 12px;
  color: #FFFFFF;
}

.footer-logo {
  height: 45px;
  margin-right: 50px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 48px 0 0;
  margin: 30px 0 0 30px;
}

.ms-sm-auto {
  margin-left: auto !important;
}

.navbar-brand {
  margin-left: 25px;
}

.nav-link {
  color: #24415C;
}

.nav-link.active {
  color: #0077B7;
}

.nav-link:hover {
  color: #0077B7;
}

img.svg-icon {
  width: 22px;
  height: 22px;
  margin-right: 20px;
}

.sidebar-nav .nav-link {
  padding-bottom: 16px;
}

.no-request-text-box {
  width: 671px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
}

.card-index {
  background: #3499DC0D;
  border: none;
  border-radius: 1rem;
  max-height: 135px;
}

.btn-index {
  background: #2981BA80;
  border: 2px solid #2981BA;
  padding: 10px 20px;
  border-radius: 8px;
}

.card-body-index {
  padding: 20px 15px 5px 33px;
}

.card-body-index .card-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-body-index .card-title-index {
  font-size: 14px;
}

.card-title-index {
  margin-bottom: 0.15rem;
}

.card-img {
  height: 135px;
  width: auto;
  float: right;
}

.card-title-sm-index {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-card-sm {
  width: 60px !important;
  height: 44px;
  margin-right: 4px;
  margin-left: 4px;
}

.card-disable, .card-disable .btn-index, .card-disable input {
  opacity: 0.5;
  cursor: no-drop !important;
}

.card-becoming {
  background: #3499DC0D;
  border: none;
  border-radius: 7px;
  max-height: 86px;
}

.card-becoming-index {
  margin: 25px 1px;
  padding: 0;
  font-size: 12px;
}

.card-becoming button {
  width: 70px;
  height: 24px;
  line-height: 0px;
  background: #3499DC80;
  border: 2px solid #3499DC;
  font-size: 11px;
  border-radius: 8px;
  margin: 30px 0px;
}

.card-becoming img {
  margin: 32px 18px;
  width: 24px;
  height: auto;
}

.card-becoming-gutter.row,
.card-becoming-gutter.container,
.card-becoming-gutter.container-fluid {
  margin-left: 3px;
  margin-right: 3px;
}

.card-becoming-gutter > [class^="col-"] {
  padding-left: 3px;
  padding-right: 3px;
}